*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(240, 240, 242),rgb(240, 240, 242));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
   
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav:hover {
    background-color: #cbcbce;
    transition: 2.5S;
}
nav .logo {
    width: 200px;
    margin-left: 0;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
nav ul li a:hover {
    color: #300C19;
}
.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
    
}
.btn:hover {
    background-color: #8A6248;
    color: #F0F0F2;
}
.content {
    text-align: center;
    position: absolute;
}
.content h1 {
    font-size: 75px;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 1200;
    line-height: 100%;
    margin-top: 80px;
}
.content p {
    color: white;
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    font-size: 30px;
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -.1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.link {
    margin-left: 50px;
    justify-content: space-between;
}
.link a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px;
}
.link a:hover {
    color: #000;
    background-color: #8A6248;
}
.mid-body {
    text-align: center;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    padding: 50px 25px;
    font-weight: 300;

}
.img-holder {
    justify-content: space-between;
    display: flex;
    text-align: left;
    padding: 30px 5px;
    width: 50px;
    height: 170px;
    display: flex;
}
.img-holder>img{
    padding-left: 25PX;
    margin-left: 25px;
}
.left-vid {
    display: flex;
    margin-top: 45px;
    justify-content: center;
}
.right-sub {
    padding: 20px 30px;
}
.right-sub h4 {
    color: #595959;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    margin-top: 50px;
}
.right-sub h4:hover {
    color: rgba(13, 23, 140, 0.834);
} 
.right-sub p {
    font-size: 20px;
    font-weight: 300;
    color: #300C19;
}
.right-sub p a {
    color: #300C19;
}
.bttm {
    margin-top: 45px;
}
.bttm a {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid white;
    background-color: #595959;
    padding: 14px 70px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
}
.bttm a:hover {
    background-color: #311C19;
    color: #ffffff;
}
.foot-video {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -.1;
}
@media (min-aspect-ratio: 16/9){
    .foot-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .foot-video{
        width: auto;
        height: 100%;
    }
}

.bottom {
    text-align: center;
    position: absolute;
}
.bottom h1 {
    font-size: 75px;
    color: #311C19;
    font-family: 'Oxygen', sans-serif;
    font-weight: 1200;
    line-height: 100%;
    margin-top: 20px;
    padding: 20px 15px;
}
.bottom p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 20px 25px;
    padding: 10px 15px;
}
.para {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.para>h1 {
    border-radius:  15px;
    box-shadow: 5px 15px 35px #272626;
    background: rgba(45, 45, 45, 0.75);
    color: #F0F0F2;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 70px;
}
.para-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
.parag {
    position: relative;
    height: 530px;
    width: 300px;
    color: #ffffff;
    border-top-right-radius:  75px;
    border-bottom-left-radius: 75px;
    box-shadow: 5px 15px 35px #000000;
    background: rgba(45, 45, 45, 0.75);
    margin: 30px 15px;
}
.parag p a{
    color: #F0F0F2;
}
.list {
    margin: 1px 25px;
    position: relative ;
    top: 2000px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}
.list h3 {
    width: 880px;
    height: 55px;
    background-color: #272626;
    color: #F0F0F2;
    margin-left: 17%;
    border-radius: 25px;
    padding: 18px 60px;
    box-shadow: 5px 15px 35px #000000;
}
.list ul {
    position: relative;
    width: 880px;
    margin: 80px auto 0;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0,0,0,.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    overflow: hidden;
}
.list ul li {
    display: flex;
    background: rgb(87, 87, 87, 0.1);
    padding: 10px 20px;
    color: #311C19;
    margin: 5px 0;
    transition: 0.5s;
}
.list ul li span a {
    color: #1c2105;
    text-decoration: none;
    font-weight: 700;
}
.list ul li:nth-child(1) {
    background: rgba(149, 0, 255, 0.1);
}
.list ul li:nth-child(2) {
    background: rgba(149, 0, 255, 0.2);
}
.list ul li:nth-child(3) {
    background: rgba(149, 0, 255, 0.3);
}
.list ul li:nth-child(4) {
    background: rgba(149, 0, 255, 0.4);
}
.list ul li:nth-child(5) {
    background: rgba(149, 0, 255, 0.5);
}
.list ul li:nth-child(6) {
    background: rgba(149, 0, 255, 0.6);
}
.list ul li:nth-child(7) {
    background: rgba(149, 0, 255, 0.7);
}
.list ul li:nth-child(8) {
    background: rgba(149, 0, 255, 0.8); 
}
.list ul li:nth-child(9) {
    background: rgba(149, 0, 255, 0.9);
}
.list ul li span:nth-child(1) {
    width: 75px;
}
.list ul li:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: rgba(0,0,0,.1);
}
.foot {
    position: relative;
    top: 325vh;
    margin: 20px 10px;
    padding: 20px 75px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}
.foot h4 a {
    text-decoration: none;
    color: #311C19;
}
.first-foot ul li, .second-foot ul li, .third-foot ul li, .forth-foot ul li {
    list-style: none;
    padding: 5px 1px;
    margin-top: 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
    background: rgba(94, 94, 94, 0.3);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.first-foot ul li:hover, .second-foot ul li:hover, .third-foot ul li:hover, .forth-foot ul li:hover {
    background: rgba(0, 0, 0, 0.755);
    transition: all 0.5s ease-out;
}
.first-foot ul li a, .second-foot ul li a, .third-foot ul li a, .forth-foot ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
.first-foot ul li a:hover, .second-foot ul li a:hover, .third-foot ul li a:hover, .forth-foot ul li a:hover {
    color: #F0F0F2;
}
.bttn {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    height: 10vh;
    border: 2px solid white;
    padding: 14px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 40px;
}
.social a {
    color: rgba(0, 47, 255, 0.7);
    justify-content: space-between;
    margin-left: 30px;
    text-align: center;
}
.footer-email-form h2 {
    margin-bottom: 10px;
    color: #300C19;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-email-form {
    padding: 20px;
    margin: 40px;
    text-align: center;
}
#footer-email {
    width: 220px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding-left: 10px;
    font size: 1rem;
    margin-bottom: 1rem;
}
#footer-email::placeholder {
    color: #311C19;
    background: #c3c2c2;
    height: 95px;
    width: auto;
    padding-left: 5px;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    
}
#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #859089;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);    
}
#footer-email-btn:hover{
    cursor: pointer;
    background-color: rgb(111, 113, 114);
    color: #ffffff;
    transition: all 0.5s ease-out;
}
.close p {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 10px;
    top: 320vh;
    color: rgb(64, 64, 64);
    font-size: 15px;
}
